<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johana Salazar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">CONGRESOS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <!-- clase navegacion con  botones  inicio y nosotros-->
          <li><a class="active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <!-- clase navegacion con diferentes botones desplegable-->
              <li><a href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
              
            </ul>
                <!-- clase navegacion para servicios,contactos,formatos-->
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="formatos.html">Formatos</a></li>
          <li><a href="login.html">Ponente</a></li>

          <li><a class="getstarted" href="about.html">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row justify-content-end">
        <div class="col-lg-11">
          <div class="row justify-content-end">

            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-emoji-smile"></i>
                 <!-- ======= Seccion para icono de invitados ======= -->
                <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                <p>invitados</p>
              </div>
            </div>
             <!-- ======= Seccion para icono de proyectos ======= -->
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box py-5">
                <i class="bi bi-journal-richtext"></i>
                <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                <p>Proyectos</p>
              </div>
            </div>
            <!-- ======= Seccion para icono de ponencias ======= -->
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-clock"></i>
                <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                <p>Ponencias</p>
              </div>
            </div>
           <!-- ======= Seccion para icono de premios ======= -->
            <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
              <div class="count-box pb-5 pt-0 pt-lg-5">
                <i class="bi bi-award"></i>
                <span data-purecounter-start="0" data-purecounter-end="10" class="purecounter">0</span>
                <p>Premios</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      

    </div>
  </section><!-- End About Section -->
<div>
  
</div>
    <!-- ======= Work Process Section ======= -->
    <section id="work-process" class="work-process">
    <div class="form">
    <!-- ======= Clase formulario agtegar correo ======= -->
      <form action="mailto:johanamargo20@outlook.com" method="post" enctype="text/plain">
        <center><table bgcolor="#cccccc" border="0" cellpadding="6"
        cellspacing="0" width="400">
        <tr>
          <!-- ======= validar datos nombre ======= -->
        <td align="right" valign="top"><b>Nombre</b></td>
        <td><input type="text" size="25" name="Nombre"> </td>
        </tr>
        <tr>
          <!-- ======= validar datos e-mail ======= -->
        <td align="right" valign="top"><b>E-mail</b></td>
        <td><input type="text" size="25" name="e-mail"> </td>
        </tr>
        <tr>
          <!-- ======= validar datos titulo ======= -->
        <td align="right" valign="top"><b>Titulo del proyecto</b></td>
        <td><input type="text" size="25" name="Titulo_proyecto"> </td>
        </tr>
        <tr>
          <!-- ======= se agrega descripcion del proyecto ======= -->
        <td align="right" valign="top"><b>Descripción</b></td>
        <td><input type="text" size="25" name="Descripcion"> </td>
        </tr>
        <!--Dato de la provincia ======= -->
        <tr>
        <td align="right" valign="top"><b>Provincia</b></td>
        <td><input type="text" size="25" name="Provincia"> </td>
        </tr>
        <tr>
          <!-- =======informacion de advertencia ======= -->
        <td align="right" valign="top"><b>Pulsa una vez</b>&nbsp; <b>&gt;</b> </td>
        <!-- ======= Permite enviar los datos ======= -->
        <td align="center">&nbsp; <input
          
        type="submit" name="Enviar datos" value=" Enviar "><input type="reset" value="Borrar" name="B1"> </td>
        </tr>
        </table>
        </center>
        </form>




    </div>

    
    </section><!-- End Work Process Section -->

    <!-- ======= Our Skills Section ======= -->
    

  </main><!-- End #main -->

  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
