<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johana Salazar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">CONGRESOS</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <!-- clase navegacion con  botones  inicio y nosotros-->
          <li><a class="active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <!-- clase navegacion con diferentes botones desplegable-->
              <li><a href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
              
            </ul>
                <!-- clase navegacion para servicios,contactos,formatos-->
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="formatos.html">Formatos</a></li>
          <li><a href="login.html">Ponente</a></li>

          <li><a class="getstarted" href="about.html">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1>Seminario Iternacional</h1>
      <h2>Innovacion y Excelencia</h2>
      <a href="#about" class="btn-get-started scrollto" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSf0a71FmgVl237iQD-go8FvcOpDWFowXhePu_eIBpuoBnU3Ew/viewform'" >Inscribete</a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                   <!-- ======= Seccion para icono de invitados ======= -->
                  <span data-purecounter-start="0" data-purecounter-end="65" class="purecounter">0</span>
                  <p>invitados</p>
                </div>
              </div>
               <!-- ======= Seccion para icono de proyectos ======= -->
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="85" class="purecounter">0</span>
                  <p>Proyectos</p>
                </div>
              </div>
              <!-- ======= Seccion para icono de ponencias ======= -->
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-clock"></i>
                  <span data-purecounter-start="0" data-purecounter-end="27" class="purecounter">0</span>
                  <p>Ponencias</p>
                </div>
              </div>
             <!-- ======= Seccion para icono de premios ======= -->
              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" class="purecounter">0</span>
                  <p>Premios</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="static/img/img3.jpg" class="img-fluid" alt="" class="d-block w-100" width="400px" height="900px">
            <!--<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox play-btn mb-4"></a> -->
          </div>
           <!-- ======= Seccion para caja de informacion ======= -->
          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3>Sobre Nosotros.</h3>
            <p class="fst-italic">
              Los proyectos expuestos en esta sección, son proyectos desarrollados por parte de estudiantes de la Universidad de las Fuerzas Armadas-ESPE extensión Santo Domingo. Tambien ofrecemos una espacio para que la sociedad tenga la oportunidad de hacer conocer sus proyectos.
            
              <!-- ======= Seccion para caja de informacion  en un parrafo ======= -->
            </p>
            <p>
              Si eres un estudiante de carrera o una persona en particular, y quieres participar en este evento. Para mayor información sobre el proceso de incripción y participación dale clic en el siguiente enlace.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="fade-in">

        <div class="text-center">
          <h3>Seminario</h3>
          <p> Puede Consultar los formatos necesarios para inscribir su proyecto en el siguiente link.</p>
          <a class="cta-btn" href="#">Formatos</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
<!-- End Services Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="section-title pt-5" data-aos="fade-up">
          <h2>Otros Servicos</h2>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <!-- ======= Seccion para caja de agenda charlas ======= -->
              <div class="icon"><i class="bi bi-briefcase" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Agenda Charlas</a></h4>
              <!-- ======= Seccion para caja de agenda charlas ======= -->
              <p class="description">Este servicio tiene como finalidad acompañar a los postulantes </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up">
              <div class="icon"><i class="bi bi-book" style="color: #e9bf06;"></i></div>
              <!-- ======= Seccion para caja de agenda ponentes ======= -->
              <h4 class="title"><a href="">Agenda Ponentes</a></h4>
              <!-- ======= Seccion para caja de agenda ponentes ======= -->
              <p class="description">Este servicio tiene como finalidad acompañar a los postulantes </p>
            </div>
          </div>

          
         

      </div>
    </section><!-- End Services Section -->
   

    <!-- End Services Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Seccion Footer-->
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>UNIVERSIDAD ESPE</h3>
            <p>extensión Santo Domingo            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
               <!-- ======= Footer los 5 links de acceso rapido======= -->
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos de servico</a></li>
              <li><a href="#">Politica de Privacidad</a></li>
            </ul>
          </div>
           <!-- ======= Footer informacion de pie de pagina======= -->

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Tandapi <br>
              Ecuador<br>
              Quito<br>
              <strong>Telefono:</strong> +593 0968085441<br>
              <strong>Email:</strong> johanamargo12@gmail.com<br>
            </p>
            <!-- ======= Footer inconos de las diferentes redes sociales ======= -->
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>
          <!-- ======= Footer seccion informacion ======= -->
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Contactos</h4>
            <p>Para obtener mayor informacion ponte en contacto con nosotros</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- Link. -->
        <!--LLamando a cada uno de los scrip -->
        <!-- Se crea el llamado a cada uno delos componentes -->
        
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

   <!-- Vendor JS Files link para cada uno de los conponentes de Java Scrip -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>

