<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johana Salazar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">CONGRESOS</a></h1>
        <!-- barra de navegacion -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <!-- clase navegacion con  botones  inicio y nosotros-->
          <li><a class="active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <!-- clase navegacion con diferentes botones desplegable-->
              <li><a href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
              
            </ul>
                <!-- clase navegacion para servicios,contactos,formatos-->
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="formatos.html">Formatos</a></li>
          <li><a href="login.html">Ponente</a></li>

          <li><a class="getstarted" href="about.html">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Envíanos tus proyectos</h2>
            <p>Listado de los proyectos inscritos a Ponencia. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services ">
      <div class="container">

        <div class="row">

       <!-- ======= Services Section para la informacion de la primera caja======= -->
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
               <!-- ======= Services Section para la informacion de la primera caja======= -->
              <h4 class="title"><a href="">Sistema clinico para las zonas rurales de Santo Do</a></h4>
              <p class="description">Los sistemas de información hospitalaria o sistemas de información en salud, en algunos países son denominados "expediente electrónico , 
                pese a que este último es sólo la parte clínica del proceso. Llevar un control de todos los servicios prestados a los pacientes.</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
               <!-- ======= Services Section para la informacion de la segunda caja======= -->
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Realidad virtual aplicada a la matematicas</a></h4>
               <!-- ======= Services Section para la informacion de la segunda caja======= -->
              <p class="description">La realidad virtual es un mundo abstracto generado por un ordenador, en donde el usuario tiene la sensación de estar en un entorno diferente. No obstante,
                 el término realidad virtual también puede aplicarse a otros ámbitos como, por ejemplo, la educación. En este contexto se implementó el software.</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
               <!-- ======= Services Section para la informacion de la tercera caja======= -->
              <h4 class="title"><a href="">Analisis del ganado vacuno en la ESPE sede Santo Domingo de los Colorados</a></h4>
               <!-- ======= Services Section para la informacion de la tercera caja======= -->
              <p class="description">Los ganaderos de Santo Domingo y de varias provincias del país asisten a esta casa abierta en la que también participa el Banco Nacional de Fomento.</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
               <!-- ======= Services Section para la informacion de la cuarta caja======= -->
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">TICs en la gestion vial</a></h4>
               <!-- ======= Services Section para la informacion de la quinta caja======= -->
              <p class="description">El uso de la tecnología para la gestión vial ha mejorado notablemente la forma de movilizarse de los conductores</p>
            </div>
          </div>

          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
               <!-- ======= Services Section para la informacion de la quinta caja======= -->
              <h4 class="title"><a href="">TICs en la gestion vial</a></h4>
               <!-- ======= Services Section para la informacion de la quinta caja======= -->
              <p class="description">El uso de la tecnología para la gestión vial ha mejorado notablemente la forma de movilizarse de los conductores</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
               <!-- ======= Services Section para la informacion de la sexta caja======= -->
              <h4 class="title"><a href="">Clonación de la célula eucariota</a></h4>
                <!-- ======= Services Section para la informacion de la sexta caja======= -->
              <p class="description">La fecundación intracelular se produce en la reproducción asexual de la célula.</p>
            </div>
          </div>


          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
                <!-- ======= Services Section para la informacion de la septima caja======= -->
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">TICS en la educación</a></h4>
                <!-- ======= Services Section para la informacion de la septima caja======= -->
              <p class="description">TICS en la educación</p>
            </div>
          </div>
          <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
                <!-- ======= Services Section para la informacion de la septima caja======= -->
              <div class="icon"><i class="bi bi-card-checklist" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Analisis de los datos estadisticos, Expectativas y experiencias.</a></h4>
              <p class="description">La estadística es básicamente una ciencia que implica la recopilación de datos, la interpretación de datos y, finalmente, la validación de datos. </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    

  </main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <!-- Seccion Footer-->
        <div class="col-lg-3 col-md-6 footer-info">
          <h3>UNIVERSIDAD ESPE</h3>
          <p>extensión Santo Domingo            </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Enlaces</h4>
          <ul>
             <!-- ======= Footer los 5 links de acceso rapido======= -->
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Terminos de servico</a></li>
            <li><a href="#">Politica de Privacidad</a></li>
          </ul>
        </div>
         <!-- ======= Footer informacion de pie de pagina======= -->

        <div class="col-lg-3 col-md-6 footer-contact">
          <h4>Contactanos</h4>
          <p>
            Tandapi <br>
            Ecuador<br>
            Quito<br>
            <strong>Telefono:</strong> +593 0968085441<br>
            <strong>Email:</strong> johanamargo12@gmail.com<br>
          </p>
          <!-- ======= Footer inconos de las diferentes redes sociales ======= -->
          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

        </div>
        <!-- ======= Footer seccion informacion ======= -->
        <div class="col-lg-3 col-md-6 footer-newsletter">
          <h4>Contactos</h4>
          <p>Para obtener mayor informacion ponte en contacto con nosotros</p>
          <form action="" method="post">
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- Link. -->
      <!--LLamando a cada uno de los scrip -->
      <!-- Se crea el llamado a cada uno delos componentes -->
      
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->

 <!-- Vendor JS Files link para cada uno de los conponentes de Java Scrip -->
<script src="static/vendor/purecounter/purecounter.js"></script>
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="static/vendor/waypoints/noframework.waypoints.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>

</body>

</html>


