<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Johana Salazar</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Serenity - v4.7.0
  * Template URL: https://bootstrapmade.com/serenity-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href="index.html">CONGRESOS</a></h1>
       
        <!-- clase navegacion con diferentes botones-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
           <!-- clase navegacion con  botones  inicio y nosotros-->
          <li><a class="active" href="index.html">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
               <!-- clase navegacion con diferentes botones desplegable-->
              <li><a href="about.html">About</a></li>
              <li><a href="team.html">Team</a></li>
              
            </ul>
                <!-- clase navegacion para servicios,contactos,formatos-->
          </li>
          <li><a href="services.html">Services</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="formatos.html">Formatos</a></li>
          <li><a href="login.html">Ponente</a></li>

          <li><a class="getstarted" href="about.html">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="breadcrumb-hero">
        <div class="container">
          <div class="breadcrumb-hero">
            <h2>Agenda Ponentes</h2>
            <p>Conoce a nuestros Ponentes. </p>
          </div>
        </div>
      </div>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Team</li>
        </ol>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
        <!--  Div para cada uno de los epositores-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="static/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- ======= nombre del expositor ======= -->
              <div class="member-info">
                <h4>Miguel Arteaga</h4>
                <span>marteaga@espe.edu.ec</span>
                <p>TICS en la gestion vial</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- ======= nombre del expositor ======= -->
              <div class="member-info">
                <h4>asda fasfasf</h4>
                <span>sdasd@espe.edu.ec</span>
                <p>Realidad virtual aplicada a la matematicas</p>
              </div>
            </div>
          </div>
                <!--  Div para cada uno de los epositores-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="static/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- ======= nombre del expositor ======= -->
              <div class="member-info">
                <h4>Daniel Lopez</h4>
                <span>diana@espe.edu.ec</span>
                <p>TICS en la educación</p>
              </div>
            </div>
          </div>
          <!--  Div para cada uno de los epositores-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="static/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- Nombre del expositor -->
              <div class="member-info">
                <h4>Nicole Andrade</h4>
                <span>andrade@gmail.com</span>
                <p>Clonación de la célula eucariota.</p>
              </div>
            </div>
          </div>
           <!--  Div para cada uno de los epositores-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/img/team/team-5.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- ======= nombre del expositor ======= -->
              <div class="member-info">
                <h4>Felipe Crespo</h4>
                <span>felipecrespo@espe.edu.ec</span>
                <p>Realidad Aumentada</p>
              </div>
            </div>
          </div>
            <!--  Div para cada uno de los epositores-->
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="static/img/team/ult.jpg" class="img-fluid" alt="" class="d-block w-100" width="420px" height="200px">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
               <!-- ======= Nombre y datos para el ultimo expositos ======= -->
              <div class="member-info">
                <h4>Demi Lopez</h4>
                <span>dlopez@espe.edu.ec</span>
                <p>Comercio Electronico</p>
              </div>
            </div>
          </div>

        </div>

      </div>  
      <center>  
        <a href="#about" class="btn-get-started scrollto" onclick="location.href='agponente.html'" >Inscribe tu proyecto aqui</a>

      </center>

    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <!-- Seccion Footer-->
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>UNIVERSIDAD ESPE</h3>
            <p>extensión Santo Domingo            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces</h4>
            <ul>
               <!-- ======= Footer los 5 links de acceso rapido======= -->
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Nosotros</a></li>
              <li><a href="#">Servicios</a></li>
              <li><a href="#">Terminos de servico</a></li>
              <li><a href="#">Politica de Privacidad</a></li>
            </ul>
          </div>
           <!-- ======= Footer informacion de pie de pagina======= -->

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contactanos</h4>
            <p>
              Tandapi <br>
              Ecuador<br>
              Quito<br>
              <strong>Telefono:</strong> +593 0968085441<br>
              <strong>Email:</strong> johanamargo12@gmail.com<br>
            </p>
            <!-- ======= Footer inconos de las diferentes redes sociales ======= -->
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>
          <!-- ======= Footer seccion informacion ======= -->
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4>Contactos</h4>
            <p>Para obtener mayor informacion ponte en contacto con nosotros</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Serenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- Link. -->
        <!--LLamando a cada uno de los scrip -->
        <!-- Se crea el llamado a cada uno delos componentes -->
        
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->

   <!-- Vendor JS Files link para cada uno de los conponentes de Java Scrip -->
  <script src="static/vendor/purecounter/purecounter.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>


